*{

    margin: 0px;
    padding: 0;
}


html {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: medium;

}
body{
    background-color: rgb(222, 243, 182);
}

.section{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
margin-right: 15px;
margin-left: 15px;
text-align:justify;
}
  

.caroulsel{
    border-top: 2px solid;
    border-right: 2px solid;
    border-left: 4px solid;
    border-bottom:  3px solid ;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px ;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 30px;
    
}






.micolor{ 
    color: rgb(0, 63, 6);
}

#miid{
    color: rgb(15, 228, 61);
}

.mifuente{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.caja{
    border-top: 2px solid;
border-right: 2px solid;
border-left: 4px solid;
border-bottom:  3px solid ;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px ;
margin-top: 50px;
margin-bottom: 50px;
margin-left: 10px;
margin-right: 30px;

font-family: Dancing Script;
}

.header {
background: rgb(106, 172, 1);
color: aliceblue;
height: 70px;
width: 60;
margin-right: auto;
margin-left: auto;
margin-bottom: 5px;
margin-top:  30px;
}


.footer {
background: rgb(2, 102, 27);
color: aliceblue;
font-size: x-large;
font-family: Dancing Script;
height: 80;
width: auto;
margin-right: auto;
margin-left: auto;
margin-bottom: 10;
text-align: center;
text-transform: inherit;
}






h1{
    color: rgb(99, 64, 1);
    text-align: center;
    font-size: 40px;
font-style: oblique;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

h2{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(15, 80, 3);
    margin-left: 30px;
    text-align: justify;
}

h3{font-size: 18px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-left: 30px;
margin-bottom: 30px;
color: rgb(23, 182, 44);
}



.margin{
    
    width: 80;
    margin-right: 30px;
    margin-left: 10px;
    margin-bottom: 5px;
    }

    .logo{
    text-transform: capitalize;
    text-align: end;
    }
    
    .logo a{
    text-decoration: solid;
    color: rgb(255, 255, 255);
    font-family: Antonio;
    font-size: 30px;
    
    }

    .limparfloat{
        clear: underneath;
    }
    
    .mifuente{
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    font-style: italic;
    }

.mapa{
    
    margin-right: 30px;
    margin-left: 30px;
    width: 5px;
}

.ubicacion{
font-size: small;
margin-left: 30px;
}

.form{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    text-align: right;
    box-shadow: inset;
    margin-right: 15px;
    
}



.navbar{

color: rgb(20, 255, 98);
font-family: Arial, Helvetica, sans-serif;
font-size: smaller;
background-color: rgb(18, 139, 34);
height: 22px;
width: auto;
margin-right: 10px;
margin-left: 5px;
margin-bottom: 10px;
margin-top: 10px;
box-sizing: content-box;
padding: 10px;


}


.navbar ul{

    text-align: right;
}
.navbar ul li {
    display: contents;
}
.navbar ul a {
    text-decoration: none;
    padding: 10px;
    color: #063b06;
}

.navbar ul li a:hover{
    background-color: #026b22;
color: rgb(4, 94, 9);

}
.navsec{
    text-align:center;
    text-decoration: #063b06;
    font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
    margin-left: 10px;
margin-right: 10px;
background-color: #026b22;
font-size: 17px;
margin-bottom: 0%;
font-style: unset;
box-sizing:content-box;
padding: auto;

}
.navsec li a {
    font-style: oblique;
 color: rgb(255, 255, 255);
}
.navsec ul li {
display: contents;
}





.navsec ul li a:hover{
    background-color: rgb(95, 255, 167);
    color: rgb(252, 252, 252);
}



#portada{
    align-items: center;
width: 70%;
background-color: rgb(255, 255, 255);
padding: 7px;
box-sizing: content-box ;
text-decoration: none;
text-align: center;
}


.destacado :default{
background-color: rgb(231, 41, 41);
padding: 5px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: xx-large;
}

.videos{
    width: 1000px;
    height: 400px;
    padding: 15px;
    box-shadow: inset;
    margin-left: 30px;
    margin-right: 30px;
    
}

.flotar{

    float: right;
}

.fotos {
    box-decoration-break:slice;
    margin - left: 10px;
    margin-right: 20px;
padding: 4px;   
}


.figcaption
{
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
margin-top: 1px;
margin-left: 10px;
margin-bottom: 1px;
}

.carousel-item active{
    width: 61,736 mm;
    height: 307,975 mm;
}


